<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title><%= prefix %>名札には名前を大きく書きましょうジェネレータ</title>
		<style>
div.description
{
	line-height: 80%;
}

div.description em
{
	background-color: red;
	border: 1px solid blue;
}

div.description img.sample
{
	float: left;
	padding-right: 10px;
}

div.note
{
	font-size: smaller;
	color: #ccc;
	line-height: 80%;
	clear: both;
}

div.thumbnail
{
	float: left;
	text-align: center;
	width: 150px;
	height: 250px;
}

a img
{
	border-style: none;
}

hr
{
	clear: both;
}
		</style>
	</head>
	<body>
		<h1><%= prefix %><a href="/">名札には名前を大きく書きましょうジェネレータ</a></h1>
		<h2><%= h(@user) %></h2>
                <p>
                        <form action="./" method="post">
                                twitter ID:
                                <input type="text" name="user" />
                                <input type="submit" value="生成！" />
                        </form>
                </p>
<% if jigoku? %>
		<div class="description">
			<p><img class="sample" src="sample/jigoku.png" alt="地獄のサンプル" /></p>
	                <p>名言にはTwitterの説明文を使います。Twitter側の情報は1日くらいキャッシュするので、説明文を変更してから生成してください。</p>
			<p>空白を2文字入れたところで右側の名言と左側の名言が区切られます。</p>
			<p>例: 「（カチャカチャカチャ…）<em>&nbsp;</em><em>&nbsp;</em>（ッターン！）」 </p>
			<p>→ 右側の名言:「（カチャカチャカチャ…）」</p>
			<p>→ 左側の名言:「（ッターン！）」</p>
		</div>
<% end %>
		<div class="note">
	                <p>注意: アカウント情報は1日くらいキャッシュしています。Twitter側の名前の変更やプロフィール画像の変更は1日くらい反映されません。</p>
			<p>（キャッシュしないとすぐにTwitter側から情報を取ってこれなくなるのです。）</p>
		</div>
		<div id="thumbnails">
		</div>
<% @families.each_with_index do |name, i| %>
<script>
function thumbnail_<%= i %>() {
	var thumbnails = document.getElementById("thumbnails");
	var thumbnail = document.createElement("div");
	thumbnail.setAttribute("class", "thumbnail");
	thumbnail.innerHTML =
		'<div>' +
		'	<a href="fonts/<%= u(name) %>/<%= h(@user) %>.png">' +
		'		<img src="fonts/<%= u(name) %>/thumbnails/<%= h(@user) %>.png" />' +
		'	</a>' +
		'</div>' +
		'<div>' +
		'	<a href="fonts/<%= u(name) %>/<%= h(@user) %>.pdf">PDF</a>' +
		'	|' +
		'	<a href="fonts/<%= u(name) %>/<%= h(@user) %>.svg">SVG</a>' +
		'</div>' +
		'<p><%= h(name) %></p>';
	thumbnails.appendChild(thumbnail);
}
setTimeout(thumbnail_<%= i %>, <%= 1000 * i %>);
</script>
<% end %>
		<hr />
		<a href="http://twitter.com/kdmsnr" target="_blank">@kdmsnr</a> and
		<a href="http://twitter.com/ktou" target="_blank">@ktou</a>.<br />
		<a href="http://github.com/kou/nafuda_generator/">http://github.com/kou/nafuda_generator/</a>
	</body>
</html>
