<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" href="nameplate.css" type="text/css" media="all" />
		<title><%= prefix %>名札には名前を大きく書きましょうジェネレータ</title>
	</head>
	<body>
		<h1><%= prefix %><a href="/">名札には名前を大きく書きましょうジェネレータ</a></h1>
		<h2><%= h(@user) %></h2>
                <p>
                        <form action="./" method="post">
                                twitter ID:
                                <input type="text" name="user" />
                                <input type="submit" value="生成！" />
                        </form>
                </p>
<%= description %>
		<div class="note">
	                <p>注意: アカウント情報は1日くらいキャッシュしています。Twitter側の名前の変更やプロフィール画像の変更は1日くらい反映されません。</p>
			<p>（キャッシュしないとすぐにTwitter側から情報を取ってこれなくなるのです。）</p>
		</div>
		<div id="thumbnails">
		</div>
<% @families.each_with_index do |name, i| %>
<script>
function thumbnail_<%= i %>() {
	var thumbnails = document.getElementById("thumbnails");
	var thumbnail = document.createElement("div");
	thumbnail.setAttribute("class", "thumbnail");
	thumbnail.innerHTML =
		'<div>' +
		'	<a href="fonts/<%= u(name) %>/<%= h(@user) %>.png">' +
		'		<img src="fonts/<%= u(name) %>/thumbnails/<%= h(@user) %>.png" />' +
		'	</a>' +
		'</div>' +
		'<div>' +
		'	<a href="fonts/<%= u(name) %>/<%= h(@user) %>.pdf">PDF</a>' +
		'	|' +
		'	<a href="fonts/<%= u(name) %>/<%= h(@user) %>.svg">SVG</a>' +
		'</div>' +
		'<p><%= h(name) %></p>';
	thumbnails.appendChild(thumbnail);
}
setTimeout(thumbnail_<%= i %>, <%= 1000 * i %>);
</script>
<% end %>
		<hr />
		<a href="http://twitter.com/kdmsnr" target="_blank">@kdmsnr</a> and
		<a href="http://twitter.com/ktou" target="_blank">@ktou</a>.<br />
		<a href="http://github.com/kou/nafuda_generator/">http://github.com/kou/nafuda_generator/</a>
	</body>
</html>
